body {
	margin: 0;
	background-color: purple;
	background-image: url(../resources/UnderConstruction.png);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: right bottom;
}